.wrapper {
    height: 100%;

    .heroSection {
        padding: 85px 50px;
        h3 {
            font-family: var(--font-inter);
            font-weight: 600 !important;
            text-align: center;
            letter-spacing: -0.05em;
            line-height: 1em;
            font-size: 22px;
            color: var(--yellow-color);
        }

        .indicatorWrapper {
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                text-transform: uppercase;
                font-size: 11.5px;
                line-height: 24px;
                color: var(--white-color);
                font-weight: 400 !important;
                letter-spacing: 0.03em;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 7px;
                border-radius: 24px;
                padding: 0px 10px;
                background-color: #ffffff1f;

                i {
                    width: 8px;
                    height: 8px;
                    background-color: var(--yellow-color);
                    border-radius: 50%;
                    color: transparent;
                }
            }
        }

        .titleWrapper {
            display: flex;
            justify-content: center;

            div {
                width: 510px;

                h1 {
                    font-size: 36px;
                    text-align: center;
                    line-height: 48px;
                    letter-spacing: -0.05em;
                    font-weight: 500 !important;
                }
                p {
                    text-align: center;
                    font-size: 15px;
                    letter-spacing: 0.01em;
                    line-height: 25px;
                    color: rgba(255, 255, 255, 0.64);
                    font-weight: 300 !important;
                    padding: 0px 49px;
                }
            }
        }

        .ctaButtonWrapper {
            display: flex;
            justify-content: center;

            div {
                width: 490px;
                display: flex;
                flex-direction: column;
                gap: 13px;
                padding: 20px 0px;

                button {
                    box-shadow: none;
                    outline: none;
                    border: none;
                    width: 100%;
                    height: 51px;
                    cursor: pointer;
                    border-radius: 13px;
                    font-family: var(--font-inter);
                    font-weight: 300 !important;
                    font-size: 13.5px;
                    letter-spacing: -0.2px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                }
                button:first-child {
                    color: var(--white);
                    background-color: rgba(255, 255, 255, 0.15);
                    span {
                        color: #ffffffad;
                        font-size: 9.5px;
                        font-weight: 200 !important;
                    }
                }
                button:last-child {
                    background-color: var(--yellow-color);
                    font-weight: 500 !important;
                    span {
                        color: #000000bf;
                        font-size: 9.5px;
                        font-weight: 200 !important;
                    }
                }
            }
        }

        .roastedCountWrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 22px;

            div {
                padding: 15px 0px;
                img {
                    border-radius: 50%;
                    border: 2px solid var(--white-color);
                }
                img:not(:first-child) {
                    margin-left: -6px;
                }
            }
            p {
                font-family: var(--font-inter);
                font-weight: 300 !important;
                font-size: 13.2px;
                letter-spacing: 0.05px;
                color: #ffffffad;
                opacity: 0.9;
            }
        }

        .heroImagesWrapper {
            display: flex;
            flex-direction: column;
            // justify-content: center;
            align-items: center;

            .imageSection {
                width: 720px;

                .macStyleWindow {
                    padding: 4px;
                    padding-bottom: 0.5px;
                    background-color: #ffffff12;
                    border-radius: 13px;
                    border-bottom-left-radius: 9px;
                    border-bottom-right-radius: 9px;
                    border-top-style: solid;
                    border-top-width: 1px;
                    border-color: rgba(242, 242, 242, 0.14);

                    .macStyleWindowHeader {
                        height: 22px;
                        padding: 0px 5px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 5px;

                        span {
                            width: 7.5px;
                            height: 7.5px;
                            background-color: #e3e3e3;
                            border-radius: 50%;
                            margin-top: -1.5px;
                        }
                    }

                    img {
                        width: 100%;
                        height: 465px;
                        border-radius: 8px;
                    }
                }
            }

            .stepsCountWrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 20px 15px;
                gap: 100px;
                background: radial-gradient(circle, rgba(0, 0, 0, 0.5), black);
                position: relative;
                bottom: 0;

                .singleCount {
                    span {
                        display: flex;
                        width: 100%;
                        justify-content: center;
                        font-family: var(--font-inter);
                        font-weight: 300 !important;
                        font-size: 15px;
                        letter-spacing: 0.03px;
                        color: #ffffffad;
                    }

                    div {
                        display: flex;
                        align-items: center;
                        gap: 16px;
                        margin-top: 5px;

                        p {
                            font-family: var(--font-inter);
                            font-weight: 300 !important;
                            font-size: 15px;
                            letter-spacing: 0.03px;
                            color: #ffffffad;
                            margin-top: 8px;
                        }
                    }
                }
            }
        }
    }
}
