.wrapper {
    height: 100%;

    .heroSection {
        padding: 90px 50px;

        @media (max-width: 635.5px) {
            padding: 70px 30px;
        }

        @media (max-width: 560.5px) {
            padding: 70px 20px;
        }

        h3 {
            font-family: var(--font-inter);
            font-weight: 600 !important;
            text-align: center;
            letter-spacing: -0.05em;
            line-height: 1em;
            font-size: 22px;
            color: var(--yellow-color);
        }

        .indicatorWrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 15px;

            span {
                text-transform: uppercase;
                font-size: 11px;
                line-height: 24px;
                color: var(--white-color);
                font-weight: 400 !important;
                letter-spacing: 0.04em;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                border-radius: 24px;
                padding: 0px 10px;
                background-color: #ffffff1f;

                i {
                    width: 8px;
                    height: 8px;
                    background-color: var(--yellow-color);
                    border-radius: 50%;
                    color: transparent;
                    animation: scale-pulse 1.5s infinite ease-out;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 100%;
                        height: 100%;
                        background-color: rgba(223, 255, 26, 0.8);
                        border-radius: 50%;
                        animation: ripple 1.5s infinite ease-out;
                    }
                }
            }
        }

        .titleWrapper {
            display: flex;
            justify-content: center;
            padding-top: 15px;

            div {
                width: 530px;

                h1 {
                    font-size: 36px;
                    text-align: center;
                    line-height: 48px;
                    letter-spacing: -0.03em;
                    font-weight: 500 !important;
                }
                p {
                    text-align: center;
                    font-size: 15px;
                    letter-spacing: -0.01em;
                    line-height: 25px;
                    color: rgba(255, 255, 255, 0.64);
                    font-weight: 300 !important;
                    padding: 0px 55px;
                }
            }

            @media (max-width: 635.5px) {
                div {
                    width: 100%;

                    h1 {
                        font-size: 32px;
                    }
                    p {
                        padding: 0px 88px;
                        margin-top: -10px;
                    }
                }
            }

            @media (max-width: 515.5px) {
                div {
                    h1 {
                        font-size: 31px;
                    }
                    p {
                        padding: 0px 35px;
                        margin-top: -10px;
                    }
                }
            }

            @media (max-width: 495.5px) {
                div {
                    h1 {
                        font-size: 30px;
                        letter-spacing: -0.05em;
                    }
                    p {
                        padding: 0px 25px;
                        margin-top: -10px;
                        font-size: 14px;
                    }
                }
            }

            @media (max-width: 425.5px) {
                div {
                    h1 {
                        font-size: 34px;
                        letter-spacing: -0.04em;
                        line-height: 44px;
                    }
                    p {
                        padding: 0px;
                    }
                }
            }
        }

        .ctaButtonWrapper {
            display: flex;
            justify-content: center;

            div {
                width: 490px;
                display: flex;
                flex-direction: column;
                gap: 13px;
                padding: 20px 0px;

                @media (max-width: 635.5px) {
                    width: 480px;
                }

                button {
                    box-shadow: none;
                    outline: none;
                    border: none;
                    width: 100%;
                    height: 51px;
                    cursor: pointer;
                    border-radius: 13px;
                    font-family: var(--font-inter);
                    font-weight: 300 !important;
                    font-size: 13.5px;
                    letter-spacing: -0.2px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                }
                button:first-child {
                    color: var(--white);
                    background-color: rgba(255, 255, 255, 0.15);
                    span {
                        color: #ffffffad;
                        font-size: 9.5px;
                        font-weight: 200 !important;
                    }
                }
                button:last-child {
                    background-color: var(--yellow-color);
                    font-weight: 500 !important;
                    span {
                        color: #000000bf;
                        font-size: 9.5px;
                        font-weight: 200 !important;
                    }
                }
            }
        }

        .roastedCountWrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            margin-top: -5px;

            div {
                padding: 0px;
                img {
                    border-radius: 50%;
                    border: 2px solid var(--white-color);
                }
                img:not(:first-child) {
                    margin-left: -6px;
                }
            }
            p {
                font-family: var(--font-inter);
                font-weight: 300 !important;
                font-size: 13.2px;
                letter-spacing: 0.06px;
                color: #ffffffad;
                opacity: 0.9;
            }
        }

        .heroImagesWrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            margin-top: 60px;

            .imageSection {
                width: 720px;

                @media (max-width: 750.5px) {
                    width: 696px;
                }

                @media (max-width: 710.5px) {
                    width: 620px;
                }

                @media (max-width: 635.5px) {
                    width: 565px;
                }

                @media (max-width: 595.5px) {
                    width: 100%;
                }

                .macStyleWindow {
                    padding: 4px;
                    padding-bottom: 0.5px;
                    background-color: #ffffff12;
                    border-radius: 13px;
                    border-bottom-left-radius: 9px;
                    border-bottom-right-radius: 9px;
                    border-top-style: solid;
                    border-top-width: 1px;
                    border-color: rgba(242, 242, 242, 0.14);

                    .macStyleWindowHeader {
                        height: 22px;
                        padding: 0px 5px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 5px;

                        span {
                            width: 7.5px;
                            height: 7.5px;
                            background-color: #e3e3e3;
                            border-radius: 50%;
                            margin-top: -1.5px;
                        }
                    }

                    img {
                        width: 100%;
                        height: 465px;
                        border-radius: 8px;

                        @media (max-width: 810.5px) {
                            height: 460px;
                        }

                        @media (max-width: 750.5px) {
                            height: 440px;
                        }

                        @media (max-width: 710.5px) {
                            height: 400px;
                        }

                        @media (max-width: 635.5px) {
                            height: 360px;
                        }

                        @media (max-width: 595.5px) {
                            height: 340px;
                        }

                        @media (max-width: 515.5px) {
                            height: 320px;
                        }

                        @media (max-width: 495.5px) {
                            height: 290px;
                        }

                        @media (max-width: 455.5px) {
                            height: 260px;
                        }
                        @media (max-width: 425.5px) {
                            height: 250px;
                        }
                    }
                }
            }

            .stepsCountWrapper {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                padding: 20px 15px;
                gap: 100px;
                background: linear-gradient(
                    to bottom,
                    rgba(0, 0, 0, 0.3),
                    rgba(0, 0, 0, 0.85)
                );
                height: 98.6%;
                position: absolute;
                bottom: 0;
                margin-bottom: -20px;
                width: 100%;

                .singleCount {
                    span {
                        display: flex;
                        width: 100%;
                        justify-content: center;
                        font-family: var(--font-inter);
                        font-weight: 300 !important;
                        font-size: 15px;
                        letter-spacing: 0.03px;
                        color: #ffffffad;
                    }

                    div {
                        display: flex;
                        align-items: center;
                        gap: 16px;
                        margin-top: 5px;

                        i {
                            transform: rotate(-5deg);
                            animation: bounceRotate 1.5s ease-in-out infinite;
                        }

                        p {
                            font-family: var(--font-inter);
                            font-weight: 300 !important;
                            font-size: 15px;
                            letter-spacing: 0.03px;
                            color: #ffffffad;
                            margin-top: 8px;
                        }
                    }
                }

                @media (max-width: 991.5px) {
                    gap: 60px;

                    .singleCount {
                        div {
                            gap: 14px;
                        }
                    }
                }

                @media (max-width: 870.5px) {
                    gap: 50px;

                    .singleCount {
                        div {
                            gap: 13px;

                            p {
                                font-size: 14px;
                                letter-spacing: 0.02px;
                            }
                        }
                    }
                }

                @media (max-width: 825.5px) {
                    gap: 40px;
                    width: 715px;
                    height: 97%;
                    border-radius: 10px;
                    margin-bottom: -10px;

                    .singleCount {
                        div {
                            gap: 10px;

                            svg {
                                width: 23px;
                                height: 23px;
                            }
                        }
                    }
                }

                @media (max-width: 750.5px) {
                    width: 690px;
                }

                @media (max-width: 710.5px) {
                    width: 614px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    top: 0;
                    height: 94%;
                    margin-top: 26px;
                    gap: 15px;
                    background: linear-gradient(
                        to bottom,
                        rgba(0, 0, 0, 0.4),
                        rgba(0, 0, 0, 0.9)
                    );

                    .singleCount {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        gap: 15px;

                        span {
                            display: block;
                            width: auto;
                        }

                        div {
                            svg {
                                width: 20px;
                                height: 20px;
                                opacity: 0.9;
                            }
                        }
                    }
                }

                @media (max-width: 635.5px) {
                    width: 560px;
                    height: 92.8%;
                }

                @media (max-width: 595.5px) {
                    position: relative;
                    margin-top: -40px;
                    // .singleCount {
                    //     margin-top: 50px;
                    //     margin-bottom: -60px;
                    // }
                }
            }
        }
    }
}

@keyframes bounceRotate {
    0%,
    100% {
        transform: translateY(5px) rotate(0deg); /* Starting and ending position */
    }
    25% {
        transform: translateY(-10px) rotate(-10deg); /* Slight left rotation and upward motion */
    }
    50% {
        transform: translateY(-20px) rotate(0deg); /* Highest point, no rotation */
    }
    75% {
        transform: translateY(-10px) rotate(10deg); /* Slight right rotation and downward motion */
    }
}

@keyframes ripple {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.5;
    }
    100% {
        transform: translate(-50%, -50%) scale(2.7);
        opacity: 0;
    }
}

@keyframes scale-pulse {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}
