:root {
    --white-color: #ffffff;
    --yellow-color: rgb(223, 255, 26);
    --link-color: #ffffffeb;
    --link-hover-color: #ffffffbf;
    --focused-border-color: #0099ff;
    --black-color: #000000;
}

html {
    background: #000000;
    overflow-x: hidden !important;
    -webkit-tap-highlight-color: transparent !important;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../assets/background.webp");
    background-size: cover;
    background-position: top;
    color: var(--white-color);
    height: 100%;
    margin: 0px;
    overflow-x: hidden !important;
}

a {
    text-decoration: none;
}
img {
    object-position: center;
    object-fit: cover;
}

.spin svg {
    -webkit-animation: spin-animation 1.5s infinite linear;
    animation: spin-animation 1.5s infinite linear;
}

.inputGroup {
    border: none;
    padding: 10px 0px;

    label {
        font-family: "Inter", "Inter Placeholder", sans-serif;
        font-size: 12px;
        font-weight: 500;
        color: rgb(136, 136, 136);
        margin-bottom: 10px;
        display: inline-flex;
    }
}

/* CSS Animations */
@-webkit-keyframes spin-animation {
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    0% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin-animation {
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    0% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
